In [1]:
# Import libraries and dependencies

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
# Read Titanic_train csv file

titanic = pd.read_csv("titanic_train.csv")

In [15]:
# Check the head of the dataframe to get a better understanding of the data 

titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
titanic = titanic.dropna()

In [34]:
# Check the info and description of the data for quick view of any trends

print(titanic.describe())
print(titanic.info())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   183.000000  183.000000  183.000000  183.000000  183.000000
mean    455.366120    0.672131    1.191257   35.674426    0.464481
std     247.052476    0.470725    0.515187   15.643866    0.644159
min       2.000000    0.000000    1.000000    0.920000    0.000000
25%     263.500000    0.000000    1.000000   24.000000    0.000000
50%     457.000000    1.000000    1.000000   36.000000    0.000000
75%     676.000000    1.000000    1.000000   47.500000    1.000000
max     890.000000    1.000000    3.000000   80.000000    3.000000

            Parch        Fare
count  183.000000  183.000000
mean     0.475410   78.682469
std      0.754617   76.347843
min      0.000000    0.000000
25%      0.000000   29.700000
50%      0.000000   57.000000
75%      1.000000   90.000000
max      4.000000  512.329200
<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 12 columns):
PassengerId    183 non-null int64
Survived       183 non-null int64
Pclass         183 non-null int64
Name           183 non-null object
Sex            183 non-null object
Age            183 non-null float64
SibSp          183 non-null int64
Parch          183 non-null int64
Ticket         183 non-null object
Fare           183 non-null float64
Cabin          183 non-null object
Embarked       183 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB
None

In [60]:
# First, I decided to use linear regress and check whether or not age and sex was a factor 
# of surviving the capsized ship
# I'll later than use class heirarchy (poor vs. rich) to see if there were any similarities there.

X = titanic["Age"].values.reshape(-1, 1)
y = titanic["Survived"].values.reshape(-1, 1)

In [61]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.50, random_state=42)

In [62]:
model = LinearRegression()

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

data = X.copy()

label_encoder.fit(titanic["Sex"])
label_encoder.classes_

array(['female', 'male'], dtype=object)

In [63]:
label_encoder.transform(titanic.Sex)

array([0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1], dtype=int64)